@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
body {
  background: #F2F2F2;
  overflow-x: hidden;
  font-family: "Barlow", sans-serif;
}

/* ******************Navigation*********** */
.navbar{
  background-color: #F2F2F2;
}
.navbar-brand{
  font-size: 24px;
  font-weight: 600;
}
.navigation_color {
  background-color: #e5e5e5;
  border-radius: 30px;
  padding: 4px;
}
.active {
  background-color: white;
  color: #0c6efe !important;
  border-radius: 50px;
}

.nav-link {
  color: #202020;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50px;
}
.nav-item {
  margin: 0 12px;
}
.nav-item:first-child {
  margin: 0;
}
.nav-item:last-child {
  margin: 0;
}
.nav-link:hover {
  background-color: white;
  color: #0c6efe;
  border-radius: 50px;
}
.search-container {
  position: relative;
  width: 200px;
}

.search-bar {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}
.notification_area {
  margin: 0px 15px;
  padding:15px 15px;
}
.notification_area i {
  font-size: 20px;
}
.profile {
  font-size: 40px;
}
.profile_area{
padding: 8px 8px 8px 0;
  background-color: white;
  border-radius: 50px;
}
/* **************Content_area************* */

/* *****************************data_info_area*********************** */
.info_section{
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 24px;
  margin-top: 2%;
}
.info_section h2{
color: #202020;
font-size: 20px;
font-weight: 600;
margin-bottom: 3%;
}
.info_section p{
  font-size: 14px;
}
.information_form input, select{
  border: 0;
  border-radius: 20px;
  background-color: white;
  height: 36px;
  padding-left: 15px;
  width: 55%;
  margin: 5% 0;
}
.information_form input:focus-within{
  outline: none;
}
.information_form select{
  width: 35%;
  margin-left: 5px;
}
::placeholder{
  font-size: 10px;
}

.vechile_form label{
  color: #202020;
  font-size: 14px;
  font-weight: 500;
}
.form-select{
  font-size: 12px;
  border: 0;
  border-radius: 20px;
  margin: 10px 0px;
  background-color: #88898b24;
  height: 36px;
  padding-left:18px;
  width: 100%;
}
.form-select:focus {
  outline: none;
  box-shadow: none;
}
.form-control{
  font-size: 12px;
  background-color: #88898b24;
  padding-left: 15px;
  border-radius: 25px;
  height: 36px;
}
.form-control:focus{
  background-color: #88898b24;
  box-shadow: none;
  border: none;
}
.location_left button{
  font-size: 12px;
  margin: 5% 0;
  color: black;
  border: none;
}

.price .fa-chevron-left{
  color: #0C6EFE;
  background: white;
  font-size: 15px;
  padding: 6px 9px;
  border-radius: 50%;

}
.overview_section{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin-top: 3%;
}
.white_bg{
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 24px 0px 0px 24px;
}
.green_bg{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  background-color: #F6FFEF;
  border-radius: 0px 24px 24px 0px;
}
.overview_section h6{
  color: #202020;
  font-size: 12px;
  margin-left: 8px;
  font-weight: 500;
}
.overview_section h1{
  color: #160F0F;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 5px;
}
.overview_section p{
  color: #160F0F;
  font-size: 12px;
}
.overview_content{
  padding:30px 15px;
  border-right: 1px solid rgba(128, 128, 128, 0.533);
}
.overview_content:last-child{
  border-right: none;
}
.form-check-input:checked {
  background-color: #F6FFEF;
  border-color: #F6FFEF;
}
.form-switch .form-check-input:checked {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%234FFF11'/%3e%3c/svg%3e");
}
.form-switch .form-check-input {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%20, 0, 0, 0.25%29'/%3e%3c/svg%3e");
  background-image: var(--bs-form-switch-bg);

}
.form-switch .form-check-input:focus {
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%20, 0, 0, 0.25%29'/%3e%3c/svg%3e");
}
.form-check-input:focus{
 display: none;
}
/* **********tab_section*********** */
.tab_section{
  list-style: none;
  margin-top: 2%;
  text-align: right;
}
.tab_section a{
  text-decoration: none;
  background: white;
  color: black;
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 50px;
}
.tab_section a:hover{
  background-color: #0C6EFE ;
  color: white ;
}
.tab_active {
  background-color: #0C6EFE !important;
  color: white !important;
}
/* *********Accordion*************** */

.accordion-header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 24px 24px 0px 0px;
}
.accordion-button{
  width: 3%;
}
.accordion-button:not(.collapsed){
  background-color: white;
  border: none !important;
  box-shadow: none;
}
.accordion-button:focus{
  box-shadow: none;
}
.according_header{
  width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 40% 60%);
}
.accprding_header_right{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.according_header h2{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}
.according_header p{
  font-size: 14px;
  color: #57565696;
}

.accordion_body_title{
    background-color: #F6FFF3;
    border: 2px solid #92FF6B;
    border-radius: 32px;
    padding: 10px;
    display: flex;
}
.accordion_body_title_even{
  background-color: white;
  border: 2px solid #0C6EFE;

}
.accordion_body_title_even h1{
  background-color: #0C6EFE !important;
  color: white;
}
.accordion_body_title h1{
    background-color: #4FFF11;
    font-size: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion_body_title h2{
    font-size: 14px;
    margin-bottom: 0;
}
.accordion_body_title p{
  color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    margin-bottom: 2px;
}
.accordion_body_title button{
    font-size: 10px;
    background-color: #BAFDA2;
    border: none;
    border-Radius:12px;
Padding:5px 12px;
}
.accordion_body_content{
    background-color:#F2F2F2;
    border-radius: 24px 24px 0px 0px;
    padding:8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.accordion_body_content img:last-child{
  width: 130px;
}
.accordion_body_content h2{
    color:#160F0F;
    font-Weight:600;
font-Size:14px;

}
.accordion_body_content h3{
    color: #0C6EFE;
    font-size: 12px;
    font-weight: 500;
}
.accordion_body_content h4{
    color: black;
    font-size: 10px;
    font-weight: 500;
}
.accordion_body_content p{
    color: black;
    font-size: 10px;
    font-weight: 400;
    margin-left: 2px;
}
.accordion_body_content h5{
    color: #160F0F;
    font-size: 12px;
    font-weight: 500;
}
.accordion_body_bottom{
  background-color:white;
  border-radius: 0px 0px 24px 24px;
  padding: 12px;
  position: relative;
}
.accordion_body_bottom p{
  font-size: 10px;
  color: #57565696;
}
.accordion_body_bottom a{
  color: #0C6EFE;
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
}
.accordion_body_bottom h6{
  font-size: 12px;
  font-weight: 500;
}
.black_start{
  background-color: #4FFF11;
  padding: 5px;
  font-size: 8px;
  border-radius: 50%;
  margin-right: 3px;
}
.gold-star{
  color: #FFA800;
  font-size: 8px;
  margin: 0 4px;
}
.fa-phone-alt{
  font-size: 8px;
  background-color: #0C6EFE;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: white;
  margin-right: 3px;
}
.accordion_body_bottom textarea{
  background-color: #F8F8F8;
  border-radius: 4px;
  border: none;
  width: 100%;
  padding:8px;
}
.accordion-body{
  background-color: #F8F8F8;
  border-radius: 0 0 30px 30px;
}
.accordion_btn{
  position: absolute;
  right: 15px;
}
.accordion_btn button{
border: none;
font-size: 10px;
padding: 3px 10px;
border-radius: 24px;

}
.accordion-item:last-of-type {
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.accordion-item:first-of-type {
  border-top-left-radius: 30px;
  border-top-right-radius:30px;
}