<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="accordion mt-3" id="accordionExample">
        <div class="accordion-item">
          <h2
            class="accordion-header"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <div class="according_header">
              <div class="accprding_header_left">
                <h2>Trip 1</h2>
                <p>Fast, Accurate & profitable</p>
              </div>
              <div class="accprding_header_right">
                <div>
                  <h2>Data 1</h2>
                  <p>Sub text</p>
                </div>
                <div>
                  <h2>Data 2</h2>
                  <p>Sub text</p>
                </div>
                <div>
                  <h2>Data 3</h2>
                  <p>Sub text</p>
                </div>
              </div>
            </div>
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            ></button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            data-bs-parent="#accordionExample"
          >
            <!-- --------------body----------------- -->
            <div class="accordion-body">
              <div class="row gap-4">
                <div class="col">
                  <div class="d-flex accordion_body_title">
                    <div><h1>c1</h1></div>
                    <div>
                      <img src="../assets/title-dividar.png" alt="" srcset="" />
                      <div class="d-flex">
                        <div class="me-4">
                          <h2>Phoenix, AZ,85001</h2>
                          <p>(Phoenix-Mesa-Glendale)</p>
                          <button>Origin</button>
                        </div>
                        <div>
                          <h2>Phoenix, AZ,85001</h2>
                          <p>(Phoenix-Mesa-Glendale)</p>
                          <button>Origin</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------content---- -->
                  <div
                    class="accordion_body_content d-flex justify-content-between align-items-end"
                  >
                    <div><img src="../assets/audi-r8 1.png" alt="" /></div>
                    <dv>
                      <h2>Audi R8 2018</h2>
                      <h3>$700 Certified Funds</h3>
                      <h4>382mi @ $1.83/mi</h4>
                      <div class="d-flex">
                        <img src="../assets/accordion-1.png" alt="" srcset="" />
                        <p>Weight</p>
                      </div>
                      <h5>3856 lbs</h5>
                    </dv>
                    <div>
                      <div class="d-flex">
                        <img src="../assets/accordion-2.png" alt="" srcset="" />
                        <p>Dimensions</p>
                      </div>
                      <h5>185” L x 80” W x 49” H</h5>
                    </div>
                  </div>
                  <!-- ------------bottom---------------- -->
                  <div class="accordion_body_bottom">
                    <div class="row">
                      <div class="col">
                        <p>Company</p>
                        <a href="#">Xpress Auto Transport Inc</a>
                        <div class="d-flex my-2 align-items-center">
                          <i class="fas fa-star black_start"></i>
                          <p>0% (0)</p>
                          <div
                            style="
                              width: 2.5px;
                              height: 10px;
                              background-color: #57565696;
                              margin: 0 8px;
                            "
                          ></div>
                          <p>4.7/5</p>
                          <i class="fas fa-star gold-star"></i>
                          <p>(234)</p>
                        </div>
                        <h6>M-S 9-7 Sun 9-3 EST</h6>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-between">
                          <di>
                            <p>Order ID</p>
                            <h6>30439364-xt</h6>
                          </di>
                          <div class="d-flex">
                            <i class="fas fa-phone-alt"></i>
                            <p style="color: #0c6efe; font-size: 12px">
                              929-566-5040
                            </p>
                          </div>
                        </div>
                        <textarea
                          placeholder="Additional Info"
                          class=""
                          id="exampleFormControlTextarea1"
                        ></textarea>
                        <div class="accordion_btn">
                          <button
                            style="background-color: #4fff11; color: #160f0f"
                          >
                            Booked
                          </button>
                          <button class="btn btn-dark">Broker Info</button>
                          <button class="btn btn-danger">Remove</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex accordion_body_title">
                    <div><h1>c1</h1></div>
                    <div>
                      <img src="../assets/title-dividar.png" alt="" srcset="" />
                      <div class="d-flex">
                        <div class="me-4">
                          <h2>Phoenix, AZ,85001</h2>
                          <p>(Phoenix-Mesa-Glendale)</p>
                          <button>Origin</button>
                        </div>
                        <div>
                          <h2>Phoenix, AZ,85001</h2>
                          <p>(Phoenix-Mesa-Glendale)</p>
                          <button>Origin</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------content---- -->
                  <div
                    class="accordion_body_content d-flex justify-content-between align-items-end"
                  >
                    <div><img src="../assets/audi-r8 1.png" alt="" /></div>
                    <dv>
                      <h2>Audi R8 2018</h2>
                      <h3>$700 Certified Funds</h3>
                      <h4>382mi @ $1.83/mi</h4>
                      <div class="d-flex">
                        <img src="../assets/accordion-1.png" alt="" srcset="" />
                        <p>Weight</p>
                      </div>
                      <h5>3856 lbs</h5>
                    </dv>
                    <div>
                      <div class="d-flex">
                        <img src="../assets/accordion-2.png" alt="" srcset="" />
                        <p>Dimensions</p>
                      </div>
                      <h5>185” L x 80” W x 49” H</h5>
                    </div>
                  </div>
                  <!-- ------------bottom---------------- -->
                  <div class="accordion_body_bottom">
                    <div class="row">
                      <div class="col">
                        <p>Company</p>
                        <a href="#">Xpress Auto Transport Inc</a>
                        <div class="d-flex my-2 align-items-center">
                          <i class="fas fa-star black_start"></i>
                          <p>0% (0)</p>
                          <div
                            style="
                              width: 2.5px;
                              height: 10px;
                              background-color: #57565696;
                              margin: 0 8px;
                            "
                          ></div>
                          <p>4.7/5</p>
                          <i class="fas fa-star gold-star"></i>
                          <p>(234)</p>
                        </div>
                        <h6>M-S 9-7 Sun 9-3 EST</h6>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-between">
                          <di>
                            <p>Order ID</p>
                            <h6>30439364-xt</h6>
                          </di>
                          <div class="d-flex">
                            <i class="fas fa-phone-alt"></i>
                            <p style="color: #0c6efe; font-size: 12px">
                              929-566-5040
                            </p>
                          </div>
                        </div>
                        <textarea
                          placeholder="Additional Info"
                          class=""
                          id="exampleFormControlTextarea1"
                        ></textarea>
                        <div class="accordion_btn">
                          <button
                            style="background-color: #4fff11; color: #160f0f"
                          >
                            Booked
                          </button>
                          <button class="btn btn-dark">Broker Info</button>
                          <button class="btn btn-danger">Remove</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="d-flex accordion_body_title">
                    <div><h1>c1</h1></div>
                    <div>
                      <img src="../assets/title-dividar.png" alt="" srcset="" />
                      <div class="d-flex">
                        <div class="me-4">
                          <h2>Phoenix, AZ,85001</h2>
                          <p>(Phoenix-Mesa-Glendale)</p>
                          <button>Origin</button>
                        </div>
                        <div>
                          <h2>Phoenix, AZ,85001</h2>
                          <p>(Phoenix-Mesa-Glendale)</p>
                          <button>Origin</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- ------content---- -->
                  <div
                    class="accordion_body_content d-flex justify-content-between align-items-end"
                  >
                    <div><img src="../assets/audi-r8 1.png" alt="" /></div>
                    <dv>
                      <h2>Audi R8 2018</h2>
                      <h3>$700 Certified Funds</h3>
                      <h4>382mi @ $1.83/mi</h4>
                      <div class="d-flex">
                        <img src="../assets/accordion-1.png" alt="" srcset="" />
                        <p>Weight</p>
                      </div>
                      <h5>3856 lbs</h5>
                    </dv>
                    <div>
                      <div class="d-flex">
                        <img src="../assets/accordion-2.png" alt="" srcset="" />
                        <p>Dimensions</p>
                      </div>
                      <h5>185” L x 80” W x 49” H</h5>
                    </div>
                  </div>
                  <!-- ------------bottom---------------- -->
                  <div class="accordion_body_bottom">
                    <div class="row">
                      <div class="col">
                        <p>Company</p>
                        <a href="#">Xpress Auto Transport Inc</a>
                        <div class="d-flex my-2 align-items-center">
                          <i class="fas fa-star black_start"></i>
                          <p>0% (0)</p>
                          <div
                            style="
                              width: 2.5px;
                              height: 10px;
                              background-color: #57565696;
                              margin: 0 8px;
                            "
                          ></div>
                          <p>4.7/5</p>
                          <i class="fas fa-star gold-star"></i>
                          <p>(234)</p>
                        </div>
                        <h6>M-S 9-7 Sun 9-3 EST</h6>
                      </div>
                      <div class="col">
                        <div class="d-flex justify-content-between">
                          <di>
                            <p>Order ID</p>
                            <h6>30439364-xt</h6>
                          </di>
                          <div class="d-flex">
                            <i class="fas fa-phone-alt"></i>
                            <p style="color: #0c6efe; font-size: 12px">
                              929-566-5040
                            </p>
                          </div>
                        </div>
                        <textarea
                          placeholder="Additional Info"
                          class=""
                          id="exampleFormControlTextarea1"
                        ></textarea>
                        <div class="accordion_btn">
                          <button
                            style="background-color: #4fff11; color: #160f0f"
                          >
                            Booked
                          </button>
                          <button class="btn btn-dark">Broker Info</button>
                          <button class="btn btn-danger">Remove</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------two-------------- -->
      <div class="accordion mt-5" id="accordionExample2">
        <div class="accordion-item">
          <h2
            class="accordion-header"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="true"
            aria-controls="collapseTwo"
          >
            <div class="according_header">
              <div class="accprding_header_left">
                <h2>Trip 1</h2>
                <p>Fast, Accurate & profitable</p>
              </div>
              <div class="accprding_header_right">
                <div>
                  <h2>Data 1</h2>
                  <p>Sub text</p>
                </div>
                <div>
                  <h2>Data 2</h2>
                  <p>Sub text</p>
                </div>
                <div>
                  <h2>Data 3</h2>
                  <p>Sub text</p>
                </div>
              </div>
            </div>
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="true"
              aria-controls="collapseTwo"
            ></button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample2"
          >
            <!-- --------------body----------------- -->
            <div class="accordion-body">
              <h1>Content will be here</h1>
            </div>
          </div>
        </div>
      </div>
      <!-- ---------------three-------------- -->
      <div class="accordion mt-5" id="accordionExample3">
        <div class="accordion-item">
          <h2
            class="accordion-header"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="true"
            aria-controls="collapsethree"
          >
            <div class="according_header">
              <div class="accprding_header_left">
                <h2>Trip 1</h2>
                <p>Fast, Accurate & profitable</p>
              </div>
              <div class="accprding_header_right">
                <div>
                  <h2>Data 1</h2>
                  <p>Sub text</p>
                </div>
                <div>
                  <h2>Data 2</h2>
                  <p>Sub text</p>
                </div>
                <div>
                  <h2>Data 3</h2>
                  <p>Sub text</p>
                </div>
              </div>
            </div>
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="true"
              aria-controls="collapseThree"
            ></button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            data-bs-parent="#accordionExample3"
          >
            <!-- --------------body----------------- -->
            <div class="accordion-body">
              <h1>Content will be here</h1>
            </div>
          </div>
        </div>
      </div>
</body>
</html>