<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="col-lg-6 col-12 gap-4">
    <h2>Location</h2>
    <div class="d-flex align-items-center">
      <h6 class="m-0" style="font-size: 18px;">Origin</h6>
      <img
        class="mx-2 "
        src="../assets/title-dividar.png"
        style="width: 200px; height: 10px"
        alt=""
        srcset=""
      />
      <h6 style="font-size: 18px;">Destination</h6>
    </div>
    <div class="row ">
      <div class="col-sm-6 location_right">
        <!-- --location-right-- -->
        <form class="information_form">
          <div class="">
            <input
              type="text"
              name=""
              id=""
              placeholder="City, State, Zip Code"
            />
            <select id="dropdown">
              <option value="" disabled selected>State</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
            </select>
          </div>
        </form>
        <!-- ----location-mile--- -->
       <div>
        <div class="d-flex ">
          <p class="m-0 p-0" >0 mile</p>
          <p class="p-0"style="margin-left: 20%;">500 mile</p>
      </div>
        <div class="d-flex align-items-center">
          <div
            style="width: 15%; height: 1px; background: #4fff11"
          ></div>
          <div
            style="
              background-color: #4fff11;
              border: 2px solid white;
              border-radius: 50px;
              font-size: 12px;
              padding: 5px;
            "
          >
            125
          </div>
          <div
            style="
              width: 30%;
              height: 1px;
              background: rgba(0, 0, 0, 0.204);
            "
          ></div>
        </div>
       </div>
       <div class="form-check me-5 my-3">
        <input
          class="form-check-input"
          type="checkbox"
          value=""
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Reverse Route
        </label>
      </div>
      <div class="form-check form-switch me-4">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="flexSwitchCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"> Show along route
        </div>
        <h2 class="mt-4">Shipment Details</h2>
        <div class="vechile_form">
          <label for="">Vehicles</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label for="">Trailers</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
      <!-- -----------location-left----------- -->
      <div class="col-sm-6 col-12 location_left">
        <form class="information_form">
          <div class="">
            <input
              type="text"
              name=""
              id=""
              placeholder="City, State, Zip Code"
            />
            <select id="dropdown" class="mx-2">
              <option value="" disabled selected>State</option>
              <option value="option1">Option 1</option>
              <option value="option2">Option 2</option>
            </select>
          </div>
        </form>
        <!-- location-mile- -->
        <div>
          <div class="d-flex ">
            <p class="m-0 p-0" >0 mile</p>
            <p class="p-0"style="margin-left: 20%;">500 mile</p>
        </div>
          <div class="d-flex align-items-center">
            <div
              style="width: 15%; height: 1px; background: #4fff11"
            ></div>
            <div
              style="
                background-color: #4fff11;
                border: 2px solid white;
                border-radius: 50px;
                font-size: 12px;
                padding: 5px;
              "
            >
              125
            </div>
            <div
              style="
                width: 30%;
                height: 1px;
                background: rgba(0, 0, 0, 0.204);
              "
            ></div>
          </div>
         </div>
         <p class="my-3">Listings</p>
         <p >Posted within</p>
         <button type="button" class="btn btn-dark rounded-4 ">All (Default)</button>
         <button type="button" class="btn btn-secondary rounded-4 mx-2">Option 1</button>
         <button type="button" class="btn btn-secondary rounded-4">Option 2</button>
         <div class="vechile_form">
          <label for="">Vehicle Status</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label for="">Min % of Vehicles</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
          <label for="">Min % of Vehicles</label>
          <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <script src="../script/index.js"></script>
</body>
</html>