<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="overview_section">
    <!-- ----white_bg-- -->
    <div class="white_bg">
      <div class="overview_content">
        <div class="d-flex align-items-center">
          <img src="../assets/data-info-1.png" alt="" srcset="">
          <h6>Total Load in <br>
            Database</h6>
        </div>
        <h1>7772</h1>
        <p>Today, 11:25 AM</p>
      </div>
      <div class="overview_content">
        <div class="d-flex align-items-center">
          <img src="../assets/data-info-2.png" alt="" srcset="">
          <h6>Load For Pickup <br>
            at Origin</h6>
        </div>
        <h1>273</h1>
        <p>Today, 11:25 AM</p>
      </div>
      <div class="overview_content" style="border-right: 1px solid rgba(128, 128, 128, 0.533);;">
        <div class="d-flex align-items-center">
          <img src="../assets/data-info-2.png" alt="" srcset="">
          <h6>Loads for Delivery <br> 
            at Destination</h6>
        </div>
        <h1>48</h1>
       
      </div>
    </div>
    <!-- ----green_bg---- -->
    <div class="green_bg">
      <div class="overview_content">
        <div class="d-flex align-items-center">
          <img src="../assets/data-info-3.png" alt="" srcset="">
          <h6>View ratio</h6>
        </div>
        <h1>3.75%</h1>
      </div>
      <div class="overview_content">
        <div class="d-flex align-items-center">
          <img src="../assets/data-info-4.png" alt="" srcset="">
          <h6>Average Price <br>
            per Mile</h6>
        </div>
        <h1>$1.78</h1>
        <p>Min: 0 - 0</p>
      </div>
      <div class="overview_content">
        <div class="d-flex align-items-center">
          <img src="../assets/data-info-5.png" alt="" srcset="">
          <h6>Anchor Load</h6>
        </div>
        <h1>3</h1>
        <p>Vehicle Details</p>
       
      </div>
    </div>
</div>
</body>
</html>