<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="overview_section">
        <!-- ----white_bg-- -->
        <div class="white_bg">
          <div class="overview_content">
            <div class="d-flex align-items-center">
              <img src="../assets/data-info-1.png" alt="" srcset="">
              <h6>Total Load in 
                Database</h6>
            </div>
            <h1>7772</h1>
            <p>Today, 11:25 AM</p>
          </div>
          <div class="overview_content">
            <div class="d-flex align-items-center">
              <img src="../assets/data-info-2.png" alt="" srcset="">
              <h6>Load For Pickup
                at Origin</h6>
            </div>
            <h1>273</h1>
            <p>Today, 11:25 AM</p>
          </div>
          <div class="overview_content">
            <div class="d-flex align-items-center">
              <img src="../assets/data-info-3.png" alt="" srcset="">
              <h6>Loads for Delivery 
                at Destination</h6>
            </div>
            <h1>48</h1>
           
          </div>
        </div>
        <!-- ----green_bg---- -->
        <div class="green_bg">
          <div class="overview_content">
            <div class="d-flex align-items-center">
              <img src="../assets/data-info-1.png" alt="" srcset="">
              <h6>Total Load in 
                Database</h6>
            </div>
            <h1>7772</h1>
            <p>Today, 11:25 AM</p>
          </div>
          <div class="overview_content">
            <div class="d-flex align-items-center">
              <img src="../assets/data-info-2.png" alt="" srcset="">
              <h6>Load For Pickup
                at Origin</h6>
            </div>
            <h1>273</h1>
            <p>Today, 11:25 AM</p>
          </div>
          <div class="overview_content">
            <div class="d-flex align-items-center">
              <img src="../assets/data-info-3.png" alt="" srcset="">
              <h6>Loads for Delivery 
                at Destination</h6>
            </div>
            <h1>48</h1>
           
          </div>
        </div>
    </div>
</body>
</html>