<div class="col-lg-6 col-12 price">
    <div class="row">
      <!-- ----------------price-left---------- -->
      <div class="col-sm-6 col-12">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Pricing</h2>
          <div class="d-flex align-items-center">
            <p class="me-2">Normal Filters</p>
            <i class="fas fa-chevron-left"></i>
          </div>
        </div>
        <label for="">Payment type</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>All (Default)</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <div class="my-2">
          <label for="">Min total pay</label>
      <div class="input-group">
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="0.00">
      <span class="input-group-text">$</span>
    </div>
        </div>
        <div class="my-2">
          <label for="">Min rate vehicle per mile</label>
      <div class="input-group">
      <input type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)" placeholder="0.00">
      <span class="input-group-text">$</span>
    </div>
        </div>
        <div class="d-flex my-2">
          <div class="form-check form-switch me-4">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              checked
            /> <label class="form-check-label" for="flexSwitchCheckChecked"> CDL</div>

              <label class="form-check-label me-2" for="flexSwitchCheckChecked">Non CDL</label>
              <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
    
              </div>
        </div>
      </div>
      <!-- -------------price-right--------------- -->
      <div class="col-sm-6 col-12">
        <h2>Data</h2>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Delivery date</label>
          <input type="date" class="form-control" id="exampleFormControlInput1" >
        </div>
        <label for="">Ready to Ship within</label>
        <select class="form-select" aria-label="Default select example">
          <option selected>All (Default)</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
        <h2>New Listings</h2>
        <p>Tag listings posted within (hrs)</p>
        <!-- --------pagination------------- -->
        <nav aria-label="..." class="mt-3">
          <ul class="pagination">
            <li class="page-item">
              <span class="page-link">+</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">-</a>
            </li>
          </ul>
        </nav>
        <!-- -----switch--- -->
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckChecked"
            checked
          /> <label class="form-check-label" for="flexSwitchCheckChecked"> Show tagged on top</div>
      </div>
    </div>
  </div>